#nameBar {
  margin-left: 10px;
}

.footer {
  text-align: center;
  padding: 10px;
  background-color: #212529; /* cor do rodapé */
  color: white;
  position: relative; /* Para layout correto no mobile */
  bottom: 0;
  width: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1; /* Faz com que o conteúdo ocupe o espaço restante entre a barra e o rodapé */
}

