<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" id="nameBar">Organizador</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav text-end">
        <li class="nav-item">
          <a class="nav-link" href="/borracha" routerLinkActive="active">Emborrachamento</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/montagem" routerLinkActive="active">Montagem</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pedidos" routerLinkActive="active">Pedidos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/entrega" routerLinkActive="active">Entrega</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/entregaVolta" routerLinkActive="active">Entrega Volta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin" routerLinkActive="active">Adm</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-3">
  <router-outlet></router-outlet>
</div>

<footer class="footer bg-dark">
  &copy; 2024 <a href="http://github.com/yannynz" class="text-white text-decoration-none">Yann Santana</a>
</footer>

