<div class="container">
  <!-- Formulário para buscar pedidos -->
  <form [formGroup]="returnForm" (ngSubmit)="loadOrders()" class="form-container">
    <h2 class="form-title">Buscar Pedidos</h2>
    <div class="input-group">
      <label for="entregador" class="form-label">Nome do Entregador</label>
      <input formControlName="entregador" type="text" class="form-control" id="entregador"
        placeholder="Digite o nome do entregador" />
    </div>
    <button type="submit" class="btn btn-primary btn-block">Buscar</button>
  </form>

  <!-- Tabela de pedidos -->
  <div *ngIf="orders.length > 0" class="orders-container">
    <h3 class="section-title">Pedidos para Retorno</h3>
    <div class="actions">
      <button (click)="toggleSelectAll()" class="btn btn-secondary">
        {{ selectAll ? 'Desmarcar Todos' : 'Selecionar Todos' }}
      </button>
    </div>
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th>Selecionar</th>
          <th>NR</th>
          <th>Cliente</th>
          <th>Data de Entrada</th>
          <th>Data de Saída</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td>
            <input type="checkbox" [checked]="selectedOrders.includes(order)"
              (change)="onOrderSelectionChange(order, $event)" />
          </td>
          <td>{{ order.nr }}</td>
          <td>{{ order.cliente }}</td>
          <td>{{ order.dataH | date: 'dd/MM HH:mm' }}</td>
          <td>{{ order.dataEntrega | date: 'dd/MM HH:mm' }}</td>
          <td><button class="btn btn-danger" type="button" (click)="cancelDelivery(order)">Cancelar
              saida</button></td>
        </tr>
      </tbody>
    </table>
    <button (click)="groupOrdersByClient()" class="btn btn-success btn-block">
      Confirmar Retorno
    </button>
  </div>

  <!-- Modal para confirmação de retorno -->
  <div class="modal" tabindex="-1" [ngClass]="{ 'd-block': showModal }">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Confirmar Retorno</h2>
          <button type="button" class="btn-close" aria-label="Close" (click)="showModal = false"></button>
        </div>
        <div class="modal-body">
          <div *ngFor="let group of groupedOrders" class="grouped-orders">
            <h3>Cliente: {{ group.cliente }}</h3>
            <table class="table modal-table">
              <thead class="table-dark">
                <tr>
                  <th>NR</th>
                  <th>CLIENTE</th>
                  <th>DATA DE ENTRADA</th>
                  <th>DATA DE SAIDA</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let order of group.pedidos">
                  <td>{{ order.nr }}</td>
                  <td>{{ order.cliente }}</td>
                  <td>{{ order.dataH | date: 'dd/MM HH:mm' }}</td>
                  <td>{{ order.dataEntrega | date: 'dd/MM HH:mm' }}</td>
                </tr>
              </tbody>
            </table>
            <div class="input-group">
              <label for="recebedor-{{ group.cliente }}" class="form-labelModal">Recebido por:</label>
              <input id="recebedor-{{ group.cliente }}" [(ngModel)]="group.recebedor" type="text"
                placeholder="Digite o nome do recebedor" class="form-controlModal" />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="showModal = false">Cancelar</button>
          <button type="button" class="btn btn-success" (click)="confirmGroupedReturn()">Confirmar</button>
        </div>
      </div>
    </div>
  </div>
</div>
