<div class="container py-4">
 <form [formGroup]="returnForm" (ngSubmit)="filterOrders()" class="d-flex justify-content-center mb-4">
  <div class="input-group" style="max-width: 500px;">
    <input
      type="text"
      class="form-control"
      formControlName="search"
      (input)="filterOrdersByAnyAttribute()"
      placeholder="Pesquise por ID, NR, Cliente, Prioridade, ou Status"
      aria-label="Pesquisa"
    />
    <button type="submit" class="btn btn-outline-primary">
      <i class="bi bi-search"></i> Buscar
    </button>
  </div>
</form>

<!-- Tabela de Pedidos -->
<div *ngIf="orders.length > 0" class="table-responsive">
  <table class="table table-hover table-striped align-middle">
    <thead class="table-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">NR</th>
        <th scope="col">Cliente</th>
        <th scope="col">Prioridade</th>
        <th scope="col">Data de Entrada</th>
        <th scope="col">Status</th>
        <th scope="col">Entregador</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{ order.id }}</td>
        <td>{{ order.nr }}</td>
        <td>{{ order.cliente }}</td>
        <td [style.color]="getPriorityColor(order.prioridade)">{{ order.prioridade }}</td>
        <td>{{ order.dataH | date: 'dd/MM HH:mm' }}</td>
        <td>{{ getStatusDescription(order.status) }}</td>
        <td>{{ order.entregador }}</td>
        <td>
          <button class="btn btn-outline-info btn-sm" (click)="openOrderDetails(order)">
            Detalhes
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Abas de Navegação -->
<div class="pagination">
  <button *ngFor="let page of [].constructor(totalPages); let i = index"
          class="btn btn-outline-primary" (click)="goToPage(i)">
    {{ i + 1 }}
  </button>
</div>

</div>
