/* Estilo personalizado */
.container {
  min-height: auto;
  padding: 1rem;
}

.table-responsive {
  max-width: 100%;
  overflow-x: auto;
}

@media (max-width: 576px) {
  .btn {
    font-size: 0.8rem;
    padding: 5px;
  }
}

.updated {
  animation: highlight 2s ease-in-out;
}

@keyframes highlight {
  0% {
    background-color: yellow;
  }
  100% {
    background-color: transparent;
  }
}
.modal-body {
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 100%;
}

.modal-body table {
  width: 100%;
  table-layout: fixed;
}

.modal-body th,
.modal-body td {
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: left;
  white-space: pre-wrap;
}


