<div class="container-fluid py-3 px-2">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <button class="nav-link" [class.active]="tab==='delivered'" (click)="tab='delivered'">
        Entregues/Retiradas
      </button>
    </li>
    <li class="nav-item">
      <button class="nav-link" [class.active]="tab==='pipeline'" (click)="tab='pipeline'">
        Produção
      </button>
    </li>
    <li class="nav-item">
      <button class="nav-link" [class.active]="tab==='clientes'" (click)="tab='clientes'">
        Clientes
      </button>
    </li>
    <li class="nav-item">
      <button class="nav-link" [class.active]="tab==='transportadoras'" (click)="tab='transportadoras'">
        Transportadoras
      </button>
    </li>
    <li class="nav-item" *ngIf="isAdmin">
      <button class="nav-link" [class.active]="tab==='users'" (click)="tab='users'">
        Usuários
      </button>
    </li>
  </ul>

  <div class="mt-3" *ngIf="tab==='delivered'">
    <app-delivered-list></app-delivered-list>
  </div>

  <div class="mt-3" *ngIf="tab==='pipeline'">
    <app-pipeline-board></app-pipeline-board>
  </div>

  <div class="mt-3" *ngIf="tab==='clientes'">
    <app-clientes-admin></app-clientes-admin>
  </div>

  <div class="mt-3" *ngIf="tab==='transportadoras'">
    <app-transportadoras-admin></app-transportadoras-admin>
  </div>
  
  <div class="mt-3" *ngIf="tab==='users' && isAdmin">
    <app-users-admin></app-users-admin>
  </div>
</div>

